body {
    background: url("../img/Lasagne2.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
}

section.Lasagne {
    width: 450px;
    height: 200px; 
    margin-left: 20px;
}

section.Navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
section.Navigation li {
    float: left;
}

#Lijst2{
    position: absolute;
    top: 170px;
    left: 500px;    
    width: 230px;
    height: 90px;
    float: right;
    text-shadow: 1px 1px #000000;
    border: 1px solid #000000;
    background-color: rgba(0, 0, 0, 0.25)
}

#italy{
    margin: 0px 100px 100px 20px;
    border: 1px solid #000000;
}

#img1 {
    position: absolute;
    top: 300px;
    right: 300px;
    border: 1px solid #000000;
}
#Lasagne1 {
    position: absolute;
    bottom: 100px;
    right: 70px;
    border: 1px solid #000000;
}

section.Navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

section.Navigation li a:hover {
    background-color: #111111;
}

h1{
    text-shadow: 1px 1px #000000;
    font-size: 48px;
    text-align: left;
}

.Bereiding{
    position: absolute;
    top: 200px;
    height: 200px;
    width: 540px;
}

.kruiden{
    position: absolute;
    opacity: 0.8;
    top: 320px;
    left: 1000px;
    border: 1px solid #000000;
}

#Lijst li{
    font-size: 19px;
}
P{
    text-shadow: 1px 1px #000000;
    font-size: 18px;
}